<div class="card-group">
    <div *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/52483_s.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">金閣寺</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">京都</h6>
            <a href="/detail">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </a>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>
